@font-face {
  font-family: "Kanit";
  src: url("../public/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("../public/fonts/Kanit/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  /* กลุ่มที่ 1: Primary (กลุ่มเข้ม/หลัก) */
  --color-primary-dark: #00474f; /* เข้ม (Deep) */
  --color-primary-main: #08979c; /* ธรรมดา (Main) */

  /* กลุ่มที่ 2: Mint (กลุ่มอ่อน/มินต์) */
  --color-mint-dark: #13c2c2; /* เข้มของกลุ่มมินต์ (หรือสีหลักแบบสว่าง) */
  --color-mint-light: #e6fffb; /* อ่อน (Lightest) */
  --font-kanit: "Kanit", sans-serif;
}
